[core]
    editor = nvim
    pager = less -f
    excludesFile = ~/.gitignore
[user]
    email = 45488563+blubywaff@users.noreply.github.com
    name = blubywaff
[include]
    path = ~/.config/.cfg/git/keyconfig
[init]
    defaultBranch = main
[commit]
    gpgsign = true
[tag]
    gpgsign = true
[color "status"]
    changed = blue
    untracked = brightmagenta
[alias]
    st = status
    stu = status -uno
    lg = log '--format=format:%C(green)%h %C(auto)%G? %C(auto)%<(12,trunc)%cn %C(blue)%>(14,trunc)%ar %C(reset)%s'
    ci = commit
